@import "tailwindcss/base"; 
@import "tailwindcss/components";  
@import "tailwindcss/utilities";

/* App.css or another CSS file */
@font-face {
  font-family: 'GraphikLight';
  src: url('./fonts/graphik/GraphikLight.otf') format('opentype');
}

body {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'GeneralSansMedium';
  src: url('./fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-Medium.otf') format('opentype'); /* Adjust the path and file name if necessary */
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-4.0/extras/otf/Inter-Regular.otf') format('opentype');
  font-style: normal;
}


.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.half-circle {
  clip-path: inset(0 50% 0 0);
}
.fill-half {
  clip-path: inset(0 50% 0 0);
}
.text-gray-800 {
  fill: #4a5568; /* Adjust this color to match your theme */
}
.text-gray-300 {
  fill: #d1d5db; /* Adjust this color to match your theme */
}



.status-indicator {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
}

.status-to-consume {
  background-color: #f0ad4e;
  color: #fff;
}

.status-consuming {
  background-color: #5bc0de;
  color: #fff;
}

.status-consumed {
  background-color: #5cb85c;
  color: #fff;
}

.movie-card {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%; 
  margin-top: 10px;
  margin-bottom: 10px; 
  font-family: 'GeneralSansMedium', sans-serif; 
}

.movie-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item-title {
  display: flex;
  align-items: center;
}

.medium-icon {
  margin-right: 10px;
}

.remove-button {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow-down {
  transform: rotate(0deg);
}

.arrow-up {
  transform: rotate(180deg);
}

.movie-card-content {
  margin-top: 10px;
}

.iframe-container {
  margin-top: 10px;
}

.notes {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #555;
  border: none;
  border-radius: 4px;
  color: #fff;
}


.App-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.errorMessage {
  color: blue;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

/* Center the forms on the page with margin from the right edge and bottom of the header */
.form-container {
  position: absolute;
  top: -20px; /* Adjust based on the height of your header */
  right: -100px; /* Adjust margin from the right edge */
  width: 300px; /* Adjust width of the form */
  max-width: 100%; /* Ensure form does not exceed screen width */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

@media (max-width: 640px) {
  .form-container {
    width: 90%; /* Make the form take 90% of the screen width on smaller screens */
    right: 5%; /* Center it on smaller screens */
  }
}

/* Adjustments for smaller screens */
@media (max-width: 1024px) {
  .form-container {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 200px;
    top: 50px; /* Adjust top position for smaller screens */
  }
}

@media (max-width: 640px) {
  .form-container {
    width: 90%; /* Make the form take 90% of the screen width on smaller screens */
    right: 5%; /* Center it on smaller screens */
    top: 50px; /* Adjust top position for smaller screens */
  }
}


